.header {
    display: flex;
    position: fixed;
    height: 75px;
    left: 0px;
    top: 0;
    background: #101010;
    width: 100%;
    z-index: 2;
}

.header>.org {
    position: absolute;
    margin: 1rem;
    width: 114px;
    height: 43px;
    left: 20px;
    font-style: normal;
    font-size: 36px;
    /* identical to box height */
    color: #FFFFFF;
}

.header>.name {
    position: absolute;
    margin: 1rem;
    top: 10px;
    width: 200px;
    height: 24px;
    left: 1270px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}

.img {
    border-radius: 22px;
    transform: rotate(-0.36deg);
}

.imgprt {
    position: absolute;
    left: 1450px;
    top: 3px;
}

.nav {
    position: fixed;
    top: 70px;
    left: 0px;
    width: 100%;
    color: #D0CBCB;
    display: flex;
    font-size: 18px;
    z-index: 2;
    background: #555;
}

.nav>ul {
    display: flex;
    list-style: none;
}

.nav>ul>li {
    padding-right: 30px;
    padding-bottom: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.25s;
}

.nav>ul>li:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #FFFFFF;
}

.ur {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #FFFFFF;
}

.filter {
    position: absolute;
    left: 1400px;
    width: 70px;
    display: flex;
}

.filter>p {
    padding-right: 5px;
    font-size: 16px;
    cursor: pointer;
}

.near {
    color: #FFFFFF;
    position: absolute;
    top: 150px;
    left: 50px;
}

.near>div {
    background: #171717;
    width: 1280px;
    height: 198px;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 15px 25px 30px 25px;
    z-index: -1;
}

.details>p {
    position: relative;
    top: -15px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
}

.upcoming {
    color: #FFFFFF;
    position: absolute;
    top: 150px;
    left: 50px;
}

.past {
    color: #FFFFFF;
    position: absolute;
    top: 150px;
    left: 50px;
}

.dropdown_menu {
    display: none;
}

.filter:hover .dropdown_menu {
    display: block;
    box-sizing: border-box;
    width: 228px;
    height: 190px;
    position: absolute;
    top: 38px;
    right: 5px;
    padding: 0 25px 0 25px;
    background: #131313;
    border-radius: 15px;
    z-index: 1;
}

.dropdown_menu>p {
    color: #A5A5A5;
    font-size: 20px;
    font-weight: 300;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.head:hover {
    color: #FFFFFF;
}

.dropdown_menu>div {
    background: #232323;
    font-weight: 400;
    padding: 8px;
    border-radius: 5px;
}

.dropdown_menu>div>a {
    float: right;
}

.box {
    display: flex;
}

.location {
    position: relative;
    left: 40%;
    top: -10px;
    display: flex;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.location>p {
    width: 80px;
    height: 23px;
    margin-right: 15px;
    background: rgba(0, 0, 0, 0.56);
    border-radius: 16px;
    text-align: center;
    line-height: 15px;
}